
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<table class="table table-bordered">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Gender</th>
        <th>Profession</th>
        <th>Department</th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Id</td>
            <td>@item.Gender</td>
            <td>@item.Profession</td>
            <td>@item.Department.Name</td>
            <td>
                <a href="/Student/Details/@item.Id">Details</a>
            </td>
        </tr>
    }
</table>

